p {
    margin: 0;
    margin-bottom: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    padding: 1rem;
    /* background-color: #92ff92; */
    font-family: Arial, Helvetica, sans-serif;
}